@import styles/colors.sass
@import styles/mixins.sass

.switch
  height: 40px
  align-items: center
  padding: 0 10px
  cursor: pointer
  @include hover-transparent
  .check
    width: 30px
    height: 20px
    align-items: center
    border-right: 2px solid $light
    margin-right: 10px
    .loading
      animation: loading 2s infinite

@keyframes loading
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
