@import styles/colors.sass
@import styles/mixins.sass

.tableSwitch
  align-items: center
  padding: 0 10px
  cursor: pointer
  @include hover-transparent
  .check
    width: 30px
    height: 20px
    align-items: center
    border-right: 2px solid $light
    margin-right: 10px