@import styles/colors.sass

@mixin hover-1
  transition: 0.2s background
  &:hover
    background: rgba($white, 0.2)

@mixin hover-2
  transition: 0.2s background
  &:hover
    background: lighten($success, 20)

@mixin line
  &::after
    content: ''
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 2px
    background: $text

@mixin shadow
  box-shadow: 0 0 5px rgba($black, 0.5)

@mixin padding-bottom($px)
  &::after
    content: ''
    display: block
    width: 100%
    padding-bottom: $px