@import styles/colors.sass

@mixin hover-1
  transition: 0.2s background
  &:hover
    background: rgba($white, 0.2)

@mixin hover-2
  transition: 0.2s background
  &:hover
    background: lighten($success, 20)

@mixin line
  &::after
    content: ''
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 2px
    background: $text