$sides: ('top': 't', 'right': 'r', 'bottom': 'b', 'left': 'l')
      
@for $i from 1 through 8
  $px: $i * 5
  .p-#{$px}
    padding: #{$px}px
  .m-#{$px}
    margin: #{$px}px
  @each $side, $l in $sides
    .p#{$l}-#{$px}
      padding-#{side}: #{$px}px
    .m#{$l}-#{$px}
      margin-#{side}: #{$px}px