@import styles/colors.sass
@import styles/mixins.sass

.page
  flex: 1
  overflow: auto
  .inner
    max-width: 100%
    max-height: 100%
    flex-direction: column
    padding: 20px
    margin: auto
    &::after
      content: ''
      display: block
      padding-bottom: 20px